NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="NationalParks">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name = "NationalPark" maxOccurs="unbound">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
              <xsd:element name = "phone" type="xsd:string" minOccurs="1" maxOccurs="unbound"/>
              <xsd:element name = "Address">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name = "Number" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name = "Street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name = "City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name = "State" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name = "Zip" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                    <xsd:attribute name = "NearestAirport" type="xsd:string" use="required"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            <xsd:attribute name = "Rating" type="xsd:float" use="optional"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
