NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="NationalParks">
      <xsd:sequence>
          <xsd:complexType name = "NationalPark" maxOccurs="unbounded">
            <xsd:sequence>
              <xsd:element name = "Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
              <xsd:element name = "Phone" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
                <xsd:complexType name = "Address">
                  <xsd:sequence>
                    <xsd:element name = "Number" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name = "Street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name = "City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name = "State" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name = "Zip" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                   </xsd:sequence>
                  <xsd:attribute name = "NearestAirport" type="xsd:string" use="required"/>
                </xsd:complexType>

          </xsd:sequence>
          <xsd:attribute name = "Rating" type="xsd:float" use="optional"/>
        </xsd:complexType>

      </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
